.container{
    background-image: url('https://e1.pngegg.com/pngimages/655/943/png-clipart-lunareclipse-blanks-pokemon-stage-3-trading-card-thumbnail.png');
    -webkit-box-shadow: 5px 5px 5px 0px #64d4e7, inset 4px 4px 15px 0px #0139f3, 10px -2px 15px 12px rgba(36, 85, 131, 0.452); 
    box-shadow: 5px 5px 5px 0px #234b8067, inset 4px 4px 15px 0px #38298a4d, 10px -2px 15px 12px rgba(24, 29, 95, 0.27);
    background-color: rgba(22, 89, 109, 0);
    background-size: cover;
    width: 280px;
    height: 400px;
    justify-content:space-between;
    display:inline-block;
    text-align: center;
}

.logo{
    display: flex;
    position: relative;
    top: 40px;
    left: 10px;
    justify-content: center;
    background-color: #474747d0;
    width: 260px;
    background-size:cover;
    
    
}

.name{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    margin-top:auto;
    margin-bottom: auto;
    position: absolute;
    font-family:Times New Roman;
    font-size:18px;
    padding:9px 39px;
    text-decoration:none;
    text-shadow: 3px -3px 11px rgb(0, 0, 0);
    color: #ffffffb4;
    position: relative;
    top:30px;
    
}
.types{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    margin-top:auto;
    margin-bottom: auto;
    position: absolute;
    margin-top: 30px;
    font-family:Times New Roman;
    font-size:17px;
    padding:9px 39px;
    text-decoration:none;
    text-shadow: 3px -3px 11px rgb(0, 0, 0);
    color: #ffffffb4;
    position: relative;
    bottom: 20px;


    
}

.click {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    margin-top:auto;
    margin-bottom: auto;
    margin-top: 60px;
    font-family:Times New Roman;
    font-size:14px;
    padding:9px 39px;
    text-decoration:none;
    text-shadow: 3px -3px 11px rgb(0, 0, 0);
    color: #ffffffb4;
    position: relative;
    bottom: 100px;
    
    

}