.positionSelect {
    margin-right: 900px;
    justify-content: center;
    display:inline-block;
    position: relative;
    bottom: 36px;
}
.nav select {
    background-color: #43a0fc;
    color: #ffffff;
    padding:7px 35px;
    width: 200px;
    height: 35px;
    border:2px solid #84bbf3;
    border-radius:3px;
    font-family:Times New Roman;
	font-size:15px;
	font-style:italic;
    box-shadow: 2px 2px 30px 2px #bbdaf7;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    cursor: pointer;
  }
  
  .nav:hover::before {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
  }
  
  .nav select option {
    padding: 30px;
  }

  .positionBtn {
    margin-left: 700px;
    justify-content: center;
    display:inline-block;
    position: relative;
    bottom: 70px;
}
  .btn {
	box-shadow: 2px 2px 30px 2px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:3px;
	border:2px solid #84bbf3;
	display:flex;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:15px;
	font-style:italic;
	padding:7px 35px;
	text-decoration:none;
	text-shadow:3px 2px 0px #528ecc;
    
}
.btn:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.btn:active {
	position:relative;
	top:1px;
}